

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;

background-color: #e2e0e7;

  font-family: Geneva;


  /* background-color: #486B5C; */
  font-family: rubik;
  color: black;
}
#jugar {
  display: flex;
  flex-direction: row;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
nav ul li {
  color: black;
  font-weight: bolder;
  text-decoration: none;
  background-color: whitesmoke;
  padding: 10px;
  border: solid 2px black;
}
.album {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.divCard {
  width: 180px;
  margin: 15px;
  height: 300px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bcbbc2;
  border-radius: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  /* font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */

}

.divCard h3{

  font-size: 25px;
}

.divCard h2{
  font-size: 15px;
}

.imagenes {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  margin-bottom: 5px;
}
.caracteristicas {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
}
.caracteristicas p {
  font-size: 12px;
  color: chocolate;
  font-weight: bold;
}
.red {
  background-color: red;
}
#tipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
  height: 50px;
  position: sticky;
  top: 10px;
  scroll-behavior: auto;
}

#tipes::-webkit-scrollbar{
  -webkit-appearance: none;

}
#tipes::-webkit-scrollbar{
  width: 10px;
}

#tipes::-webkit-scrollbar-button,#tipes::-webkit-scrollbar-button{
  display: none;
}

#tipes::-webkit-scrollbar:horizontal{
  height: 10px;
}

#tipes::-webkit-scrollbar-thumb{
  background-color: red;
  border-radius: 20px;
  border: 2px black;
}
#imagenTipoPokemon {
  display: flex;
  margin-top: 20px;
}
#imagenTipo{
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
#jugar {
  display: flex;
  justify-content: center;
}
#intrucciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.instruccionesCont {
  text-align: center;
  
}
#imagenTipo {
  width: 80%;
  height: 80%;
  object-fit: cover;
  object-position: center;
}
.zoom {
  transform: scale(1.4);
}
#opcionesDeJuego {
  width: 100%;
  /* height: 300px; */
  background-color: red;
}
#butMas {
  display: flex;
  width: 60px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(23, 107, 233);
  border-radius: 5px;
  color: chocolate;

}

.sinImagenTitulo{
  text-align: center;
}
#butMenos {
  display: flex;
  width: 60px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  background-color:rgb(23, 107, 233);
  border-radius: 5px;
  color: chocolate;
}
#imagenLabel {
  display: flex;
  justify-content: center;
}
#cajaColeccion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}
#coleccionLabel {
  display: flex;
  justify-content: flex-start;
}
#numCantidad {
  font-size: 30px;
}
.numCarta{
  margin-top: 10px;
  font-size: 26px;
  color: brown;
  font-weight: bolder;
}

h2{
  display: flex;
  color: chocolate;
  font-weight: bolder;
  text-align: center;
 
}
#cantidadPokemons {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 300px;
  margin-top: 20px;
  /* border: 1px solid black; */
}
#contenedor2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (min-width:450px) {
  #contenedor2{
    flex-direction: row;
  }
  
}


#opcionesCantidad {
  display: flex;
  flex-direction: column;
}
#opcionesDeImagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#opcionesCantidad div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#opcionesJuego {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 50%;
  margin-right: 20px;
  margin-left: 20px;
}
#nivelJuego {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* border-left: 2px solid black; */
}

#jugando{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#btInstrucciones{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 25px;
  width: 200px;
  height: 40px;
  background-color: transparent;
  border: none;
  

}

#btInstrucciones:hover{
  cursor:pointer
}
/* .centrarContenedor{
  display: flex;
  justify-content: center;
  border: none; */
/* } */
.botoncitos {
  margin-top: 30px;
  width: 300px;
  height: 60px;
  font-size: 25px;
  font-weight: bold;
  color: chocolate;
  background-color: rgb(23, 107, 233);
  border: none;
  border-radius: 7px;

}
.botoncitos:hover{
  cursor:pointer
}
#opcionesDeColeccion {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 10px;

  /* border: 1px solid black; */
}
#coleccionLabel {
  display: flex;
  margin-right: 20px;
}
#coleccionTitle {
  text-align: center;
}
#coleccionInput {
  display: flex;
  margin-right: 10px;
}
#opcionesDeImagen {
  display: flex;
  flex-direction: column;
  width: 300px;
  /* border: 1px solid black; */
}
#imagenLabel {
  display: flex;
  width: 300px;
}
#imagenInput {
  display: flex;
}
#indicadorNivel {
  font-size: 50px;
}
#nivelJuegoEtiqueta {
  font-size: 40px;
}
#nivelJuegoEtiqueta2 {
  font-size: 40px;
}
.clTipoImagen {
  width: 70%;
  height: 700%;
  padding: 5px;
  margin-left: 10px;
}
.noSee {
  display: none !important;
}
#tituloJuego {
  font-size: 40px;
  color: black;
}
#textoInstrucciones {
  color: rgb(23, 107, 233);
  font-size: 25px;
}
#textoInstrucciones2 {
  color: red;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
}
#intrucciones{
  width: 80%;
}
#tituloPagina {
  color: black;
  font-size: 60px;
}
#barraProgreso{
  display: flex;
  flex-direction: column;
  padding-left: 35%;

}

#tituloBarraProgreso{
  display: flex;
  font-size: 30px;

}
meter{
  display: flex;
  width: 300px;
  height: 30px;
}
#contenedorImagen{
  width: 95%;
}
.botonera{
  display: flex;
  flex-direction: column; 
  align-items: center;
}
#divLogin{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
  padding-top: 5px;
  padding-right: 10px;
}
.login{
  display: flex;
  width: 120px;
  margin-left: 5px;
}
#logear{
  color: black;
  padding-right: 15px;
}
#helloTu{
  color: rgb(27, 218, 27);
  font-size: 20px;
  margin-right: 15px;
}